<h1 class="page-title">NOMINO WORD PUZZLE</h1>
<section class="container">
<div class="content"><h1>A puzzle to test your  knowledge of English Words</h1>
<!-- links -->
<div class="links">
  <app-button href="https://play.google.com/store/apps/details?id=com.michael.nomino" name="Google play" icon="play_circle"></app-button>
<app-button href="" name="Github" icon="code"></app-button>
</div>
</div>
<div class="image">
    <img src="../assets/Capture.PNG" loading="lazy" alt="nomino word puzzle">
</div>
</section>
<footer>Made with love</footer>